[package]
name = "serde-sarif"
version = "0.3.4"
authors = ["Paul Sastrasinh <psastras@gmail.com>"]
edition = "2018"
description = "Serde serialization for SARIF files"
license = "MIT"
readme = "README.md"
keywords = ["sarif", "serde", "serialization"]
categories = ["encoding"]
build = "build.rs"
homepage  = "https://psastras.github.io/sarif-rs/"
documentation = "https://docs.rs/serde_sarif"
repository = "https://github.com/psastras/sarif-rs"

[badges]
github = { repository = "psastras/sarif-rs" }

[features]
default = []
clippy-converters = ["cargo_metadata", "regex"]
hadolint-converters = []
shellcheck-converters = []
clang-tidy-converters = ["regex"]

[dependencies]
anyhow = "1.0.66"
cargo_metadata = { version = "0.15.2", optional = true }
derive_builder = "0.12.0"
regex =  { version = "1.7.0", optional = true }
serde = "1.0.150"
serde_json = "1.0.89"
strum = "0.24"
strum_macros = "0.24"
thiserror = "1.0.37"

[dev-dependencies]
version-sync = "0.9"

[build-dependencies]
anyhow = "1.0.66"
prettyplease = "0.1.22"
proc-macro2 = "1.0.47"
quote = "1.0.21"
schemafy_lib = "0.6.0"
serde_json = "1.0.89"
syn = "1.0.105"
