[package]
name = "serde-sarif"
version = "0.4.2"
authors = ["Paul Sastrasinh <psastras@gmail.com>"]
edition = "2018"
description = "Serde serialization for SARIF files"
license = "MIT"
readme = "README.md"
keywords = ["sarif", "serde", "serialization"]
categories = ["encoding"]
build = "build.rs"
homepage  = "https://psastras.github.io/sarif-rs/"
documentation = "https://docs.rs/serde_sarif"
repository = "https://github.com/psastras/sarif-rs"

[badges]
github = { repository = "psastras/sarif-rs" }

[features]
default = []
clippy-converters = ["cargo_metadata", "regex"]
hadolint-converters = []
shellcheck-converters = []
clang-tidy-converters = ["regex"]

[dependencies]
anyhow = "1.0.81"
cargo_metadata = { version = "0.18.1", optional = true }
derive_builder = "0.20.0"
regex =  { version = "1.10.4", optional = true }
serde = "1.0.199"
serde_json = "1.0.115"
strum = "0.26"
strum_macros = "0.26"
thiserror = "1.0.58"

[dev-dependencies]
version-sync = "0.9"

[build-dependencies]
anyhow = "1.0.81"
prettyplease = "0.2.17"
proc-macro2 = "1.0.79"
quote = "1.0.34"
schemafy_lib = "0.6.0"
serde_json = "1.0.115"
syn = "2.0.58"
