[package]
name = "sarif-fmt"
version = "0.2.26"
authors = ["Paul Sastrasinh <psastras@gmail.com>"]
edition = "2018"
description = "View (pretty print) SARIF files in terminal"
license = "MIT"
readme = "README.md"
keywords = ["sarif", "fmt", "cli", "terminal"]
categories = ["command-line-utilities"]
homepage  = "https://psastras.github.io/sarif-rs/"
documentation = "https://docs.rs/clippy_sarif"
repository = "https://github.com/psastras/sarif-rs"

[badges]
github = { repository = "psastras/sarif-rs" }

[[bin]]
name = "sarif-fmt"
path = "src/bin.rs"

[dependencies]
anyhow = "1.0.52"
atty = "0.2.14"
clap = "3.0.10"
codespan-reporting = "0.11.1"
serde_json = "1.0.75"
serde-sarif = { path = "../serde-sarif", version = "0.2.26" }
tempfile = "3.3.0"

[dev-dependencies]
duct = "0.13.5"
duct_sh = "0.13.5"
version-sync = "0.9"
